

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}
.nav-btn {
  width: 244px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  margin: 36px 0 38px 0;
} 
/* banner styles */
 .banner {
  background-image: url("../B10A1-Challenge-Begins/assets/Hero-bg.png");
 }
 .banner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 26px 221px 45px 221px;
 }
 .banner-bg-picture {
  width: 240px;
  height: 240px;
 }
 .banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
 }
 .banner-description{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
 }
 .btn-primary {
  width: 244px;
  height: 65px;
  color: rgb(255, 255, 255);
  background: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  margin-top: 32px;
 }