

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}
.nav-btn {
  width: 244px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  margin: 36px 0 38px 0;
} 
/* banner styles */
 .banner {
  background-image: url("../B10A1-Challenge-Begins/assets/Hero-bg.png");
 }
 .banner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 26px 221px 45px 221px;
 }
 .banner-bg-picture {
  width: 240px;
  height: 240px;
 }
 .banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
 }
 .banner-description{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
 }
 .btn-primary {
  width: 244px;
  height: 65px;
  color: rgb(255, 255, 255);
  background: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  margin-top: 32px;
 }
 main {
  max-width: 1140px;
  margin: 0 auto;
 }
 /* web styles */
 .web {
  width: 1140px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  margin-top: 74px;
  
  
 }
 .web-title {
  /* width: 852px; */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
 }
.web-description {
  /* width: 852px; */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
/* web-items styles */
.web-items {
  /* width: 850px; */
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
}
.web-item {
  width: 477px;
}
.web-item-title {
  color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.web-item-desciption {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 32px;
}
.web-item-btn {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.web-item-picture {
  width: 259px;
}
/* Inspiration styles */
.Inspiration {
  width: 1140px;
  margin-top: 90px;
  margin-bottom: 151px;
}
.section-title{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0;
}
.section-description {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 80px;
}
.section-video {
  text-align: center;
}
iframe {
  border-radius: 16px;
}